extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Daniel Danter

        //- Feel free to personalize the title below
        p Fornt End JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hey There! I'm Danny and I'm a web developer and  web designer.
                    I am passionate about web development and web design, I started to learn web development right from the first year of my college. 
                    In my school days , my knowledge of computer science was almost nill. In my school , 
                    computer was a very underestimated subject. But when I entered my college , I was just astonished to see the programming mania.  


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li C
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li java

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 0664/803408521
          li daniel.danter@gmx.at

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/daniel-danter-9a8a36b2/') LinkedIn
        a.btn-link(href='https://github.com/danieldanter') GitHub
        a.btn-link(href='https://www.instagram.com/dani_danter/') Instagramm

    nav.nav
      a(href='/')
        span &larr;
        |  Back