extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hey, Potential Employers let's make the web great together!

    
    p This is my amazing portfolio


  article.portfolio-project-thumbs
    .projects-box.box.grid

   
      each n, i in data
        .cell
          a(href=`/project/${i}`) 
            img.thumbnail(src=data[i].image_urls[0], alt='')
            h5= data[i].project_name

