extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hey, Potential Employers', or 'Let's make the web great together!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid

   
      each n, i in data
        .cell
          a(href=`/project/${i}`) 
            img.thumbnail(src=data[i].image_urls, alt='')
            h5= data[i].project_name

