extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        
        h1= data[id].project_name

        
        p= data[id].description

      .project-tech-links-box.box
        h6 Technologies
        ul

          
          each n, i in data[id].technologies
            li= data[id].technologies[i]
          

        
        a.btn-link(href= data[id].live_link) Live Demo
        a.btn-link(href= data[id].github_link) GitHub Repo

    .project-img-box.box

      
      img.project-img(src=data[id].image_urls[0], alt='')
      

    nav.nav
      a(href='/')
        span &larr;
        |  Back
